.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all 0.1s;
  border-radius: 0.3rem;
  padding: 1.3rem;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &--yellow {
    border-top: 0.3rem solid #eae600;
  }

  &--green {
    border-top: 0.3rem solid #0bd454;
  }

  &--red {
    border-top: 0.3rem solid #ff0000;
  }

  span:first-child {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 100;
  }

  span:last-child {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2.7rem;
    font-weight: 600;
  }
}
