.card {
  display: flex;
  flex-direction: column;
  transition: all 0.1s;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 1.3rem;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &--cases {
    border-top: 0.3rem solid yellow;
  }

  &--recovered {
    border-top: 0.3rem solid green;
  }

  &--deaths {
    border-top: 0.3rem solid red;
  }

  span:first-child {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 100;
  }

  h1 {
    font-size: 3rem;
  }
}
